<div class="row d-flex align-items-center justify-content-center h-100">
  <form class="form-signin">
    <div class="form-label-group">
      <input
        type="text"
        id="inputUserame"
        class="form-control"
        placeholder="Username"
        required
        autofocus
      />
      <label for="inputUserame">Username</label>
    </div>

    <hr />

    <div class="form-label-group">
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Password"
        required
      />
      <label for="inputPassword">Password</label>
    </div>

    <button
      class="btn btn-lg btn-primary btn-block text-uppercase"
      type="submit"
    >
      Login
    </button>
    <hr class="my-4" />
  </form>
</div>
