<div class="wrap-login">
  <form class="form-signin">
    <span class="login-form-title p-b-55">
      Login
    </span>
    <div class="wrap-input">
      <input
        type="text"
        id="inputUserame"
        class="form-control"
        placeholder="Username"
        required
        autofocus
      />
    </div>


    <!-- <div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
      <input class="input100" type="text" name="email" placeholder="Email">
      <span class="focus-input100"></span>
      <span class="symbol-input100">
        <span class="lnr lnr-envelope"></span>
      </span>
    </div> -->

    <div class="form-label-group">
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Password"
        required
      />
    </div>

    <button
      class="btn btn-lg btn-primary btn-block text-uppercase"
      type="button"
    >
      Login
    </button>
  </form>
</div>